useDynLib(sme)
import(stats)
importFrom(grDevices, col2rgb, rgb)
importFrom(graphics, layout, lines, plot, polygon)
importFrom(lattice, panel.lines, panel.xyplot, xyplot)
importFrom(splines, ns)

export(AICc, BICn, sme, sme.default, sme.list, sme.data.frame, plot.sme, plotSmeModel,
plotSmeRaw, plotSmeDiagnostic, getRoughnessMatrix)

# Used internally
# export(blockDiagMat, incidenceMatrix, roughnessMatrix, vcov.sme, logLik.sme)

S3method(BICn, sme)
S3method(logLik, sme)
S3method(plot, sme)
S3method(rstandard, sme)
S3method(sme, data.frame)
S3method(sme, default)
S3method(sme, list)
S3method(vcov, sme)
